.navigation-menu {
  min-width: fit-content;
  margin: 5px;
  padding: 10px;
  font-size: larger;
  height: 100vh;
  .navigation-bar {
    margin-top: 5px;
    .list-group-item {
      padding: 10px 6px;
      background: transparent;
      border: none;
      color: whitesmoke;
      a {
        text-decoration: none;
        color: whitesmoke;
        div {
          display: flex;
        }
      }
      a.active {
        color: #2374e1;
      }
      button {
        text-decoration: none;
        color: whitesmoke;
        div {
          display: flex;
        }
      }
      span {
        padding: 5px 0;
      }
    }
    .list-group-item:hover {
      cursor: pointer;
      background-color: #3a3b3c;
      border-radius: 2%;
    }
  }
  .profile-name {
    img {
      border-radius: 35%;
    }
  }
}
