// Primary colors
$dark-background: #242526;
$dark: #18191a;
$light-dark: #3a3b3c;
$light-dark1: #6c757d;
$light: whitesmoke;
$white: #ffff;
$grey-white: #ddd;

// Secondary colors
$black: #000000;
$blue: #2374e1;
$light-blue: #3b5998;
$dark-blue: navy;
$red: #ff3d00;
$danger: #8d191d;
$orange: #efd7c5;
$light-green: #5cb85c;
$dark-green: #0e4a22;
$green: green;
$middle-green: #3d8b3d;
$purple: #50145c;
$brown: #a26d23;

// Font sizes
$font-size-small: 1.3rem;
$font-size-large: 1.9rem;
$font-size-xlarge: 2.8rem;

// Border radius
$border-radius-base: 0.4rem;
$border-radius-small: 0.8rem;
$border-radius-medium: 1rem;
$border-radius-large: 2rem;
