.todos {
  .todos-item {
    margin: 20px 10px;
    border-radius: 5px;
    background: #242526;
    color: whitesmoke;
    padding: 15px;
  }
  .todo-text {
    background: #3a3b3c;
    width: fit-content;
    margin-left: 2rem;
  }
}
