.product {
  .images {
    img {
      max-width: 600px;
      max-height: 320px;
      min-width: 600px;
      min-height: 320px;
    }
  }
  .images-small {
    margin-top: 5px;
    img {
      padding: 1px;
      max-width: 120px;
      max-height: 60px;
      min-width: 120px;
      min-height: 60px;
    }
  }
  input {
    max-width: 50px;
  }
  button {
    min-width: 220px;
  }
}
