.quotes {
  .quotes-item {
    margin: 20px 10px;
    border-radius: 5px;
    background: #242526;
    color: whitesmoke;
    padding: 15px;
  }
  .quote-text {
    background: #3a3b3c;
    width: fit-content;
    margin-left: 2rem;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .quote-author {
    font-size: larger;
    margin-left: 10px;
  }
}
