@import "../../styles/variables";

.profile-page {
  .profile-info {
    background: $dark-background;
    .profile-name-edit {
      .profile-picture-name {
        left: 0;
      }
      img {
        width: 150px;
        height: 150px;
        border-radius: 30%;
        overflow: hidden;
      }
    }
  }
  .personal-info {
    .personal-info-body {
      border-radius: 2%;
      background: $dark-background;
      .info-data {
        .info-details {
          background: $light-dark;
          border-radius: 5%;
        }
      }
    }
  }
}
