.header {
  padding: 2px 0px;
  color: whitesmoke;
  .header-context {
    .company-logo {
      img {
        border-radius: 40%;
        width: 60%;
        float: left;
      }
      width: max-content;
    }
    .login-facebook {
      img {
        border-radius: 40%;
      }
    }
  }
  .navigate-icons {
    width: 100%;
    .list-group-item {
      background: transparent;
      border: none;
      a {
        text-decoration: none;
        color: whitesmoke;
      }
      a.active {
        color: #2374e1;
      }
      span {
        font-size: 12px;
      }
    }
    .list-group-item:hover {
      cursor: pointer;
      background-color: #3a3b3c;
      border-radius: 2%;
    }
  }
  .fb-button {
    width: 165px;
    height: 35px;
    border-radius: 4px;
    background: #3b5998;
    color: white;
    border: 0px transparent;
    text-align: center;
    display: inline-block;

    &:hover {
      background: #3b5998;
      opacity: 0.6;
    }
  }
}
