@import "../../../styles/variables";

.home-feed {
  .posts {
    margin: 20px 10px;
    border-radius: 5px;
    background: #242526;
    color: $light;
    padding: 15px;
  }
  .post-header {
    img {
      max-width: 30px;
      max-height: 30px;
    }
  }
  .post-body {
    padding: 5px;
  }
  .post-tags {
    padding-top: 5px;
    border-top: 1px solid $white;
    span {
      border-radius: 10px;
      background: $light-dark1;
      padding: 5px;
    }
  }
  .comments {
    margin-top: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 200px;
    .comment-user-details {
      text-transform: capitalize;
      width: fit-content;
    }
    .comment-body {
      background: $light-dark;
      border-radius: 20px;
      width: fit-content;
      margin-left: 2rem;
    }
  }
}
