@import "../../../styles/variables";

.messenger {
  min-width: fit-content;
  margin-top: 1rem;
  .messenger-user-search {
  }
  .messenger-list {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 78vh;
    .messenger-user-div:hover {
      cursor: pointer;
      background-color: $light-dark1;
      border-radius: 15px;
    }
  }
}
