.status-message-body {
  position: absolute;
  top: 50%;
  left: 35%;
  padding: 20px;
  background: #18191a;
  text-align: center;
  border-radius: 20px;
  .icons-message {
    justify-content: center;
    margin: 1rem 0rem;
  }
  .errorMsg {
    color: red;
  }
  .successMsg {
    color: green;
  }
}
